bip_utils==1.6.0
pytest==6.1.2
mnemonic==0.19
python-binance-chain @ git+https://github.com/hoodieonwho/python-binance-chain.git@6c23fac4192493ae78ae440be76d4894c277744d
secp256k1==0.13.2
binance_chain==1.0.0
